body{
    background: url("399567.jpg");
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.regform{
    width:600px;
    background-color: rgba(0,0,0,0.5);
    margin:250px auto;
    color: rgb(252, 158, 6);
    padding: 10px 20px 30px;
    font-size: 25px;
}
.regform h3{
    text-align: center;
    color: #7b92ad;
}
.textlabel{
    display: block;
    color: #7b92ad;
}
.input input{
    width: 100%;
    font-size: 1.1em;
    border-radius: 8px;
    padding: 5px 10px;
    box-sizing: border-box;
}
button{
    display: grid;
    background-color:#7b92ad ;
    margin-top: 20px;
    margin-left: 170px;
    padding: 15px 25px;
    font-size: 30px;
    position: relative;
    left: 40px;
}
button:hover{
    background-color:blue;
}
label{
    color: #7b92ad;
}
a{
    position: relative;
    right: -150px;
    text-align: center;
    color: #7b92ad;
}
.radio input{
    accent-color:  #7b92ad;
}